<%= form_with(model: profile, class: "contents") do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4">
    <%= form.label :display_name, "Display Name:", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :display_name, class: "rounded-lg py-1 px-3 bg-gray-100 border border-gray-300 mt-1 w-full" %>
  </div>

  <div class="field mb-4">
    <%= form.label :job_title, "Job Title:", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :job_title, class: "rounded-lg py-1 px-3 bg-gray-100 border border-gray-300 mt-1 w-full" %>
  </div>

  <div class="inline">
    <%= form.label :description, "Edit profile description:", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :description, class: "rounded-lg py-1 px-3 bg-gray-100 border border-gray-300 mt-1 w-full" %>
  </div>

  <div class="inline mt-4">
    <%= form.submit "Save", class: button_css(:blue) %>
  </div>
<% end %>
