
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="container mx-auto md:mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex flex-col">
      <div class="relative h-56 bg-gradient-to-r from-purple-500 to-pink-500 rounded-t-sm">
        <img src="<%= @profile.avatar_url %>" width=150px height=150px class="absolute bottom-0 left-32 translate-y-1/2 rounded-full border-4 border-white z-40">
      </div>

      <div class="flex flex-col bg-gray-100 rounded-b-sm min-h-48 p-5">
        <div class="w-full h-full flex flex-col items-end">
          <h1 class="text-2xl font-bold">
            <%= @profile.user.github_username %>
          </h1>
          <h4 class="">
            Job title goes here
          </h4>
        </div>
        <div class="w-full h-full mt-6">
          <%= @profile.description %>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-2 gap-y-3 grid-flow-row-dense">
      <div class="bg-red-500 rounded-lg shadow-xl min-h-[50px] col-span-2"></div>
      <div class="bg-blue-500 rounded-lg shadow-xl min-h-[50px] row-span-2"></div>
      <div class="bg-green-500 rounded-lg shadow-xl min-h-[50px]"></div>
      <div class="bg-red-500 rounded-lg shadow-xl min-h-[50px] row-span-2"></div>
      <div class="bg-blue-500 rounded-lg shadow-xl min-h-[50px]"></div>
      <div class="bg-green-500 rounded-lg shadow-xl min-h-[50px] row-span-2"></div>
    </div>

    <%= tag_show_profile_buttons(@profile) %>
  </div>
</div>
