
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="container mx-auto md:mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="relative h-3/5 bg-gradient-to-r from-purple-500 to-pink-500 rounded-t-sm">
      <img onclick="showFullImage('<%= @profile.avatar_url %>')" src="<%= @profile.avatar_url %>" width=150px height=150px class="absolute bottom-0 left-32 translate-y-1/2 rounded-full border-4 border-white">
    </div>

    <div class="flex justify-center items-center h-2/5 bg-gray-100 rounded-b-sm">
      <h1 class="text-2xl font-bold">
        <%= @profile.user.github_username %>
      </h1>
      <%= @profile.description %>
    </div>

    <div class="flex flex-row items-center gap-4 pb-2.5">
      
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-2 gap-y-3 grid-flow-row-dense">
      <div class="bg-red-500 rounded-lg shadow-xl min-h-[50px] col-span-2"></div>
      <div class="bg-blue-500 rounded-lg shadow-xl min-h-[50px] row-span-2"></div>
      <div class="bg-green-500 rounded-lg shadow-xl min-h-[50px]"></div>
      <div class="bg-red-500 rounded-lg shadow-xl min-h-[50px] row-span-2"></div>
      <div class="bg-blue-500 rounded-lg shadow-xl min-h-[50px]"></div>
      <div class="bg-green-500 rounded-lg shadow-xl min-h-[50px] row-span-2"></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-2 gap-y-3">
      <% if user_signed_in? && current_user.id == @profile.user_id %>
        <div>
          <%= link_to 'Edit profile', edit_profile_path(@profile), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
        <div>
          <%= button_to 'Delete profile', profile_path(@profile), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
      <% end %>
      <div>
        <%= link_to 'Back to profiles', profiles_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  </div>
</div>
