<nav class='h-16 w-full flex items-center justify-around'>
    <div class='w-24 px-4'>
        <%= link_to "Home", "/" %>
    </div>
    <div class='flex justify-center w-96 text-2xl'>
        GitReps
    </div>
    <div class='flex justify-center'>
        <%- if user_signed_in? %>
            <div class='w-48 px-4'>
                <%= link_to "GitHub Explorer", github_explorer_api_requests_path %>
            </div>
    <div class='w-24 px-4'>
        <%- if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <%- elsif controller_name != 'sessions' %>
            <%= link_to "Log in", new_user_session_path %>
        <%- elsif devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path("user") %><br />
        <% end %>
        <div class='w-24 px-4'>
            <%= link_to "Profiles", profiles_path %>
        </div>
        <div class='w-24 px-4'>
            <%- if user_signed_in? %>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
            <%- elsif controller_name != 'sessions' %>
                <%= link_to "Log in", new_user_session_path %>
            <%- elsif devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Sign up", new_user_registration_path %><br />
            <% end %>
        </div>
    </div>
</nav>